<div>
    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content center-align black-text">
                    <h5>Félicitation, vous avez terminé le Questionnaire de Proust !</h5>
                    <div class="done-icon">
                        <div class="circle blue lighten-4">
                            <img src="assets/icons/graduation_cap.svg">
                        </div>
                    </div>
                    <div class="text">
                        <p>
                            Cliquer sur <i class="tiny circle teal lighten-1 white-text material-icons">subject</i> pour revoir vos réponses !
                            <br><br> Vous pouvez également refaire le questionnaire en cliquant sur <i class="tiny circle blue-grey white-text material-icons">refresh</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>