<div class="row">
    <div class="col s12">
        <div class="card white">
            <div class="card-content center-align black-text">
                <span class="card-title black-text">Le Questionnaire de Proust par TVDMA</span>
                <blockquote>
                    Decouvrez vous...
                </blockquote>
                <p>
                    <a (click)="startQuiz()" class="waves-effect waves-light btn btn-large cyan">Commencer</a>
                </p>
            </div>
        </div>
    </div>
</div>